@import '../../styles/mixins';

/* Experience Section */
.experience {
  padding: 4rem 1rem;
  margin: 0 auto;
}

.sectionTitle {
  @include section-title;
}

/* Experience Timeline */
.timeline {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
